@charset "UTF-8";
@media print, screen and (min-width: 1100px) {
  body {
    width: 100%;
  }
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
}

@media print, screen and (max-width: 1099px) {
  .inner {
    max-width: 90%;
  }
}

.css-br::after {
  content: "\A";
  white-space: pre;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #5c6614;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
  background-color: #FFFFFF;
  font-size: 1.6rem;
}

li {
  list-style: none;
  font-size: 1.8rem;
}

@media print, screen and (min-width: 1100px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 1099px) {
  body {
    min-width: 320px;
  }
  html, body {
    height: 100%;
    min-height: 100%;
    font-size: 55%;
  }
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
  html, body {
    height: 100%;
    min-height: 100%;
    font-size: 55%;
  }
}

.header {
  width: 100%;
  position: relative;
}

.header .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 130px;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header-top {
    padding-top: 3rem;
    padding-bottom: 1rem;
    height: 100%;
    width: 50%;
  }
}

.header-nav {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-line_top {
  border: solid 1px #e5db70;
  width: 100%;
  position: absolute;
  top: 12.5rem;
}

.header-line_bottom {
  border: solid 1px #e5db70;
  margin-bottom: 2px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  position: relative;
  transition: all 0.5s;
  pointer-events: none;
  padding: 1.1rem .2rem 1.1rem .2rem;
  border-bottom: solid 1rem #FFFFFF;
  border-top: solid 1rem #FFFFFF;
}

.header-item:hover {
  border-bottom: solid 1rem #e5db70;
  border-top: solid 1rem #e5db70;
}

.header-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  width: 100%;
  pointer-events: auto;
}

@media screen and (max-width: 767px) {
  .header-logo {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-tel {
    display: none;
  }
}

.header_sp {
  display: none;
  margin-top: 2.5rem;
}

@media screen and (max-width: 767px) {
  .header_sp {
    display: block;
  }
}

.header_sp-check {
  display: none;
}

.header_sp-label {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 30px;
}

.header_sp-icon {
  width: 100%;
  background-color: #000000;
  display: block;
  height: 5px;
  border-radius: 10px;
  position: relative;
  top: 0;
  margin-top: 12.5px;
  transition: all .5s;
}

.header_sp-icon:before {
  width: 100%;
  background-color: #000000;
  display: block;
  height: 5px;
  border-radius: 10px;
  content: "";
  position: absolute;
  top: -10.5px;
  transition: all 0.5s;
}

.header_sp-icon:after {
  width: 100%;
  background-color: #000000;
  display: block;
  height: 5px;
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 10.5px;
  transition: all 0.5s;
}

.header_sp-label-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 150;
  top: 0;
  left: 0;
  background-color: #000000;
  display: none;
  opacity: 0.3;
}

.header_sp-nav {
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background-color: #fff;
  transition: all 1s;
  text-align: center;
  transform: translateX(-100%);
  z-index: 200;
}

.header_sp-item {
  pointer-events: none;
  position: relative;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  color: #5c6614;
  padding: 5px;
}

.header_sp-item:hover {
  opacity: .6;
}

.header_sp-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  width: 100%;
  pointer-events: auto;
}

#header_sp-check:checked ~ .header_sp-nav {
  transform: translateX(0%);
}

#header_sp-check:checked ~ .header_sp-label-bg {
  display: block;
  opacity: 0.5;
}

#header_sp-check:checked ~ .header_sp-label .header_sp-icon {
  height: 0;
}

#header_sp-check:checked ~ .header_sp-label .header_sp-icon::before {
  transform: translateY(10.5px) rotate(135deg);
  -webkit-transform: translateY(10.5px) rotate(135deg);
}

#header_sp-check:checked ~ .header_sp-label .header_sp-icon::after {
  transform: translateY(-10.5px) rotate(-135deg);
  -webkit-transform: translateY(-10.5px) rotate(-135deg);
}

.footer {
  color: #dfe3c5;
  background-color: #1c1f03;
  margin-top: 6rem;
  padding-bottom: 2.7rem;
}

.footer .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.footer-left {
  padding-top: 2.8rem;
  margin-left: 4.2rem;
  margin-right: 2.5rem;
}

@media print, screen and (max-width: 1099px) {
  .footer-left {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-left {
    display: none;
  }
}

@media print, screen and (max-width: 1099px) {
  .footer-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-item {
  padding: 1.4rem 0 .9rem 0;
  position: relative;
  transition: all 0.5s;
  pointer-events: none;
  border-bottom: 0.5rem solid #1c1f03;
}

.footer-item:hover {
  border-bottom: 0.5rem solid #FFFFFF;
}

.footer-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  width: 100%;
  pointer-events: auto;
}

.footer-center {
  padding-top: 4.5rem;
}

@media screen and (max-width: 767px) {
  .footer-center {
    width: 100%;
  }
}

.footer-address {
  padding-bottom: 1.2rem;
  padding-left: 3.3rem;
  position: relative;
}

.footer-address::before {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 35px;
  background-image: url(../../img/pin.png);
  background-size: 100%;
  bottom: 2px;
  left: 0;
}

.footer-map {
  background-color: antiquewhite;
  width: 400px;
  height: 225px;
}

@media screen and (max-width: 767px) {
  .footer-map {
    width: 100%;
  }
}

.footer-source {
  width: 100%;
}

.footer-right {
  padding-top: 3rem;
}

@media screen and (max-width: 767px) {
  .footer-right {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.footer-logo {
  width: 100%;
  margin-bottom: 17.3rem;
  max-width: 250px;
}

@media print, screen and (max-width: 1099px) {
  .footer-logo {
    margin-bottom: 1rem;
  }
}

.footer-icons {
  text-align: right;
}

.footer-icon {
  margin-right: 2.2rem;
  position: relative;
  transition: all 0.5s;
  pointer-events: none;
  cursor: pointer;
  transition: all .5s;
}

.footer-icon:hover {
  color: #e5db70;
}

.footer-icon a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  width: 100%;
  pointer-events: auto;
}

.footer-bottom {
  padding-top: 6.3rem;
  text-align: right;
  width: 100%;
}

@media print, screen and (max-width: 1099px) {
  .footer-bottom {
    padding-top: 2rem;
    text-align: center;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    display: inline-block;
    width: 100%;
  }
}

.footer-privacy {
  position: relative;
  transition: all 0.5s;
  pointer-events: none;
  cursor: pointer;
}

.footer-privacy a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  width: 100%;
  pointer-events: auto;
}

.footer-tos {
  position: relative;
  transition: all 0.5s;
  pointer-events: none;
  cursor: pointer;
}

.footer-tos a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  width: 100%;
  pointer-events: auto;
}

.footer-icon {
  font-size: 3rem;
}

.footer-backtop {
  position: absolute;
  background-color: #1c1f03;
  width: 13.1rem;
  text-align: center;
  line-height: 4.3rem;
  font-size: 1.5rem;
  letter-spacing: 0.08;
  font-weight: bold;
  top: -4.3rem;
  right: 0;
  cursor: pointer;
  transition: all .5s;
}

.footer-backtop:hover {
  top: -4.7rem;
}

.top {
  background-image: url(../../img/メインビジュアル.png);
  height: 500px;
  background-color: #f4f6ea;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #FFFFFF;
  padding-top: 7rem;
}

@media print, screen and (max-width: 1099px) {
  .top {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .top {
    padding-top: 5.5rem;
  }
}

.top-title {
  font-size: 5.6rem;
  font-weight: normal;
  letter-spacing: 0.12em;
  text-shadow: 0 0 4px #272900;
  margin-bottom: 6.8rem;
}

@media print, screen and (max-width: 1099px) {
  .top-title {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .top-title {
    margin-bottom: 3.5rem;
    font-size: 3.5rem;
  }
}

.top-title-sm1 {
  font-size: 5.1rem;
}

@media screen and (max-width: 767px) {
  .top-title-sm1 {
    font-size: 3.5rem;
  }
}

.top-title-sm2 {
  font-size: 4.7rem;
}

@media screen and (max-width: 767px) {
  .top-title-sm2 {
    font-size: 3.5rem;
  }
}

.top-title-sm2 .css-br {
  display: none;
}

@media print, screen and (max-width: 1099px) {
  .top-title-sm2 .css-br {
    display: inline;
  }
}

.top-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.6rem 3.4rem 1.8rem 2.7rem;
  display: inline-block;
  margin-bottom: 3.2rem;
}

@media print, screen and (max-width: 1099px) {
  .top-box {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .top-box {
    padding: 1rem;
  }
}

.top-text {
  font-size: 1.6rem;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .top-text {
    font-size: 1.6rem;
    line-height: 1.75;
  }
  .top-text .css-br {
    display: none;
  }
}

.top-btn {
  display: block;
  background-color: #f6d300;
  border: none;
  color: #FFFFFF;
  width: 40.3rem;
  height: 7.5rem;
  border-radius: 8px;
  box-shadow: 3px 3px 18px 0px rgba(255, 255, 255, 0.5) inset, -3px -3px 18px 0px rgba(210, 183, 21, 0.5) inset, 5px 5px 8px rgba(79, 59, 38, 0.74);
  letter-spacing: 0;
  font-weight: bold;
  position: relative;
  text-align: center;
  margin-left: 60%;
  transition: background-color 0s, transform .5s;
}

.top-btn:hover {
  transform: translateY(-5px);
}

.top-btn:active {
  background-color: #e5db70;
}

@media print, screen and (max-width: 1099px) {
  .top-btn {
    margin-left: 40%;
  }
}

@media screen and (max-width: 767px) {
  .top-btn {
    width: 100%;
    margin: 0;
  }
}

.top-btn-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-60%);
}

@media print, screen and (max-width: 1099px) {
  .top-btn-icon {
    left: 1rem;
  }
}

.top-btn-text {
  font-size: 2.8rem;
  line-height: 2;
  margin-left: 3.5rem;
  text-shadow: 4px 4px 8px rgba(39, 41, 0, 0.33);
}

@media screen and (max-width: 767px) {
  .top-btn-text {
    font-size: 2rem;
  }
}

.top-btn-sm {
  font-size: 2rem;
}

.recommended {
  padding-top: 5.8rem;
  color: #4c4f35;
}

@media screen and (max-width: 767px) {
  .recommended {
    padding-top: 3.5rem;
  }
}

.recommended-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2.9rem;
}

.recommended-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommended-item {
  flex-basis: 30.5%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .recommended-item {
    flex-basis: 100%;
    margin-bottom: 3rem;
  }
}

.recommended-label {
  position: absolute;
  color: #FFFFFF;
  width: 40px;
  background-image: url(../../img/recommended.png);
  background-size: 100%;
  height: 50px;
  line-height: 1.16667;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  padding-left: 1rem;
  padding-top: .5rem;
  top: -.5rem;
  right: .5rem;
}

.recommended-heading {
  text-align: center;
  font-size: 2rem;
  padding: 2.8rem 0 2.5rem 0;
}

@media screen and (max-width: 767px) {
  .recommended-heading {
    padding: 1rem 0;
  }
}

.recommended-img {
  width: 100%;
}

.recommended-text {
  font-size: 1.6rem;
  line-height: 1.5;
}

.company {
  padding-top: 6.4rem;
  color: #4c4f35;
}

@media screen and (max-width: 767px) {
  .company {
    padding-top: 3.5rem;
  }
}

.company-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2.9rem;
}

.company-table {
  margin: 0 auto;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .company-table {
    width: 100%;
  }
}

.company-table th {
  border: 1px solid #4c4f35;
  background-color: #f4f6ea;
  color: #5c6614;
  font-weight: normal;
  width: 250px;
  padding: 1.5rem 0 1.5rem 0;
}

@media screen and (max-width: 767px) {
  .company-table th {
    width: 25%;
  }
}

.company-table td {
  border: 1px solid #4c4f35;
  width: 550px;
  padding-left: 6.2rem;
}

@media screen and (max-width: 767px) {
  .company-table td {
    width: 75%;
    padding-left: .5rem;
  }
}

.news {
  padding-top: 10rem;
  color: #4c4f35;
}

@media print, screen and (max-width: 1099px) {
  .news {
    padding-top: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .news {
    padding-top: 8rem;
  }
}

.news-title {
  font-size: 2.8rem;
  line-height: 1.71429;
  text-align: center;
  margin-bottom: 3.9rem;
  text-transform: uppercase;
}

.news-items {
  margin: 0 auto;
  width: 800px;
  line-height: 3;
  margin-bottom: 1.4rem;
}

@media print, screen and (max-width: 1099px) {
  .news-items {
    width: 100%;
    font-size: 1.6rem;
  }
}

.news-datetime {
  display: inline-block;
  width: 250px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .news-datetime {
    text-align: left;
    width: 100%;
  }
}

.news-heading {
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .news-heading {
    width: 100%;
  }
}

.news-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #e5db70;
}

@media screen and (max-width: 767px) {
  .news-item {
    width: 100%;
  }
}

.news-link {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .news-link {
    padding-top: 3rem;
  }
}

.news-more {
  text-align: right;
  font-size: 1.4rem;
  color: #5c6614;
  position: relative;
  border-bottom: solid 1px #5c6614;
  transition: all 0.5s;
  pointer-events: none;
  padding-bottom: .1rem;
}

.news-more:hover {
  opacity: .6;
}

.news-more a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  width: 100%;
  pointer-events: auto;
}

.news-more:before {
  content: "＞";
  font-size: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.5rem;
}
