.header{
    width: 100%;
    position: relative;

    .inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 130px;
        align-items: center;
        width: 100%;

        @include mq ('sp'){
            padding-top: 3rem;
            padding-bottom: 1rem;
            height: 100%;
            width: 50%;
        }
    }

    &-nav{
        width: 100%;
        @include mq ('sp'){
            display: none;
        }
    }


    &-line{
        &_top{
            border: solid 1px #{nth($colors, 3)};
            width: 100%;
            position: absolute;
            top:12.8rem;
        }

        &_bottom{
            border: solid 1px #{nth($colors, 3)};
            margin-bottom: 2px;
        }
        
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    &-item{
        position: relative;
        transition: all 0.5s;
        pointer-events: none;
        padding: 1.1rem .2rem 1.1rem .2rem;
        border-bottom: solid 1rem #{nth($colors, 1)};
        border-top: solid 1rem #{nth($colors, 1)};

            &:hover{
                border-bottom: solid 1rem #{nth($colors, 3)};
                border-top: solid 1rem #{nth($colors, 3)};
            }

            a{
                @include link-cover();
            }

    }


    &-logo{
        @include mq ('sp'){
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &-tel{
        @include mq ('sp'){
            display: none;
        }
    }


    &_sp{
        display: none;
        margin-top: 2.5rem;

        @include mq ('sp'){
            display: block;
        }
    
        &-check{
            display: none;
        }

        &-label {
            display: block;
            width: 30px;
            height: 30px;
            margin-top: 30px;
        }
        
        &-icon {
            @include h-icon;
            position: relative;
            top: 0;
            margin-top: 12.5px;
            transition: all .5s;
        
            &:before{                
                @include h-icon;
                content: "";
                position: absolute;
                top: -10.5px;
                transition: all 0.5s;
            }
            &:after{
                @include h-icon;
                content: "";
                position: absolute;
                top: 10.5px;
                transition: all 0.5s;
            }

            
            
        }
        &-label-bg {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 150;
            top: 0;
            left: 0;
            background-color: #{nth($colors, 2)};
            display: none;
            opacity: 0.3;
        }
        
        &-nav {
            padding-top: 30px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 60%;
            background-color: #fff;
            transition: all 1s;
            text-align: center;
            transform: translateX(-100%);
            z-index: 200;
        }
        
        &-item{
            pointer-events: none;
            position: relative;
            font-size: 16px; 
            letter-spacing: 0;
            line-height: (24/16);
            color: #{nth($colors, 4)};
            padding: 5px;
            &:hover{
                opacity: .6;
            }
        
        
            a{
                @include link-cover;
            }
        }

}
}

#header_sp-check:checked ~ .header_sp-nav {
    transform: translateX(0%);
  }
  #header_sp-check:checked ~ .header_sp-label-bg {
    display: block;
    opacity: 0.5;
  }
  #header_sp-check:checked ~ .header_sp-label .header_sp-icon {
    height: 0;
  }
  #header_sp-check:checked ~ .header_sp-label .header_sp-icon::before {
    transform: translateY(10.5px) rotate(135deg);
    -webkit-transform: translateY(10.5px) rotate(135deg);
  }
  #header_sp-check:checked ~ .header_sp-label .header_sp-icon::after {
    transform: translateY(-10.5px) rotate(-135deg);
    -webkit-transform: translateY(-10.5px) rotate(-135deg);
  }






